<section class="section section-shaped">
    <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>


    <div class="container py-md">



            <a routerLink="/Student" class="btn btn-white mt-4">Espace student</a>
            <a routerLink="/signup" class="btn btn-white mt-4">Espace Exposant</a>

            <a routerLink="/Alumni" class="btn btn-white mt-4">Espace Alumni</a>
            <a routerLink="/front/user-profile" class="btn btn-white mt-4">Espace fornisseur</a>
            <a routerLink="/front/user-profile" class="btn btn-white mt-4">Espace PROFESSOR</a>

            <br>
        <div class="row justify-content-between align-items-center">

            <div class="col-lg-6 mb-lg-auto">
                <div class="rounded shadow-lg overflow-hidden transform-perspective-right bootstrap-slider">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img class="img-reg" src="assets/1.png" alt="First slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img-reg" src="assets/2.png" alt="Second slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img-reg" src="assets/3.jpg" alt="Third slide" he>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <h1 style="color: black; font-size: 80px; font-style: italic;">Welcome</h1>
                    <p style="color: white; font-style: italic; font-size: 50px;">To our platform</p>
                </div>
        </div>




    </div>


    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>

</section>
