<section class="section section-lg section-shaped">
  <div class="shape shape-style-1 shape-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
<br><br>
<!-- <div>
  <h2>Types</h2>
  <ul>
    <li *ngFor="let type of types" (click)="onSelectType(type)">
      {{ type.name }}
    </li>
  </ul>
</div>

<div *ngIf="selectedType">
  <h2>{{ selectedType.name }} Announcements</h2>
  <ul>
    <li *ngFor="let announcement of announcements">
      {{ announcement.announcementName }}
    </li>
  </ul>
</div> -->


<!-- <div>
  <h2>Types</h2>
  <ul>
    <li *ngFor="let type of types" (click)="onSelectType(type)">
      {{ type.name }}
    </li>
  </ul>
</div>

<div *ngIf="selectedType">
  <h2>{{ selectedType.name }} Announcements</h2>
  <ul>
    <li *ngFor="let announcement of announcements">
      {{ announcement.announcementName }}
    </li>
  </ul>
</div> -->
