
<div class="logo">
    <a routerLink="/front/landing" class="simple-text logo-normal">
        <img src="./assets/Logo_ESPRIT_-_Tunisie.png" width="200" height="90"/>
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <!-- <h4 class="display-4 mb-0">{{menuItem.title}}</h4> -->
                <h7 class="mb-0">{{menuItem.title}} </h7>
            </a>
        </li>
    </ul>
</div>
